body{
  letter-spacing: 1.5px;
  line-height: 15px;
  opacity: 1;
}

table {
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 8px;
  text-align: left;
  margin: 3px 3px 3px 3px;
  font: normal 12px/150%     Arial, Helvetica, sans-serif;
  background: rgb(fff);
  overflow: hidden;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 100px;
  max-height: 500px;
}

td,th {
  padding: 3px 10px;
  
}

thead th {
  text-shadow: 25px 10.9px #000000;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
  background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
  background-color: #006699;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  border-left: 1px solid #0070A8;
}

td {
  border-radius: 10px;
  color: #00557F;
  border: 1px solid #E1EEF4;
  border-right: 1px solid #E1EEF4;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  background: rgb(ffffff);
}

h1:hover {
  text-transform: lowercase;
  color: #f0f;
}

p{
  position: static;
    top: 10px;
    left: 1px;
    width: 300px; 
  text-indent: 50px;
  max-width: 250px;
}

.joke{
  max-width: 500px;
  display: inline;
  float:left;
}
.why{
  float: right;
  max-width: 500px;
  display: inline;
}
.number{
  color: #ff00ff;
}
.col-md-2{
  /* border: 1px solid black; */
  display:inline;
}
footer{
  max-width: 50%;
  margin:auto;
}
h3{
  max-width: 70%;
  margin: auto;
}